[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "xdas"
version = "0.1.2"
requires-python = ">= 3.10"
authors = [
    { name = "Alister Trabattoni", email = "alister.trabattoni@gmail.com" },
]
dependencies = [
    "h5netcdf",
    "h5py",
    "hdf5plugin",
    "numba",
    "numpy",
    "obspy",
    "pandas",
    "plotly",
    "scipy",
    "tqdm",
    "watchdog",
    "xarray",
    "xinterp",
    "pyzmq",
]

[project.optional-dependencies]
dev = ["black", "isort", "twine"]
docs = [
    "ipykernel",
    "matplotlib",
    "myst-nb",
    "pydata-sphinx-theme",
    "sphinx-design",
    "sphinx-copybutton",
    "sphinx",
]
tests = ["pytest", "pytest-cov", "seisbench", "torch"]

[tool.isort]
profile = "black"

[tool.pytest.ini_options]
addopts = ["--doctest-modules", "--import-mode=importlib"]
doctest_optionflags = "NORMALIZE_WHITESPACE"
