[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "xdas"
version = "0.1a"
authors = [
    {name = "Alister Trabattoni", email = "alister.trabattoni@gmail.com"},
]
dependencies = [
    "dask",
    "h5py",
    "netcdf4",
    "numpy",
    "scipy",
    "tqdm",
    "xarray",
]

[project.optional-dependencies]
docs = [
    "sphinx",
    "myst-parser",
    "furo",
]
tests = [
    "pytest",
    "pytest-cov",
]